:root {
  font: 16px / 1 sans-serif;
}

html {
  height: 100%;
}

body {
  margin: 0;
  min-height: 100%;
  justify-content: center;
  text-align: center;
  background-image: url('./images/table.jpg');
  background-repeat: no repeat;
  background-size: cover;
}

h1 {
  text-align: center;
  color: rgb(156, 8, 8);
  font-size: 4rem;
}

.winner {
  text-align: center;
  color: black;
  font-size: 3em;
  background: yellow;
}

h2 {
  color: white;
  text-emphasis: bold;
  font-size: 2rem;
}

.player-sum {
  color: yellow;
  font-size: 2rem;
}

.dealer-sum {
  color: yellow;
  font-size: 2rem;
}

ul.player-hand {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
}

ul.dealer-hand {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
}

li {
  list-style: none;
}

footer {
  width: 100%;
  justify-content: center;
  align-content: center;
  background: white;
}

.hit-button {
  background: rgb(156, 8, 8);
  border-radius: 20%;
  size: 100px;
  font-size: 1rem;
  color: whitesmoke;
  margin: 0.5rem;
  cursor: pointer;
  border: 2px solid whitesmoke;
  width: 100px;
  height: 50px;
}

.stand-button {
  background: rgb(156, 8, 8);
  border-radius: 20%;
  size: 100px;
  font-size: 1rem;
  color: whitesmoke;
  margin: 0.5rem;
  cursor: pointer;
  border: 2px solid whitesmoke;
  width: 100px;
  height: 50px;
}

.replay-button {
  background: rgb(156, 8, 8);
  border-radius: 20%;
  size: 100px;
  font-size: 1rem;
  color: whitesmoke;
  margin: 0.5rem;
  cursor: pointer;
  border: 2px solid whitesmoke;
  width: 100px;
  height: 50px;
}

img {
  height: 225px;
  width: auto;
}
